.table {
    .edit {
        color: rgb(236, 164, 30);
    }
    .edit:hover {
        color: rgb(29, 109, 230);
    }
    .delete {
        color: rgb(241, 83, 83);
    }
    .delete:hover {
        color: black;
    }
}
