.doctor-container {
    .header-detail {
        display: flex;
        width: 90vw;
        height: 60vh;
        // border-bottom: 1px solid gray;
        margin: 0 auto;
        // padding: 10px;
        .home-icon {
            font-size: 20px;
            margin-left: 10px;
            margin-top: 15px;
            cursor: pointer;
            &:hover {
                color: rgb(39, 91, 248);
            }
        }
        .line {
            width: 1px;
            height: inherit;
            background-color: rgba(128, 128, 128, 0.704);
            display: inline-block;
        }
        .doctor-intro {
            position: relative;
            display: flex;
            margin-top: 20px;
            flex-wrap: wrap;
            .DoctorSchedule {
                margin-top: -130px;
            }
            .doctor-img {
                width: 150px;
                height: 150px;
                border: 1px solid gray;
                margin-left: 20px;
                border-radius: 50%;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .doctor-first-info {
                max-height: 200px;
                .name-doctor {
                    margin-top: 20px;
                    margin-left: 15px;
                    text-transform: capitalize;
                    font-weight: 600;
                }
                .doctor-desc {
                    text-transform: capitalize;
                    margin-left: 15px;
                    max-width: 470px;
                }
            }
        }
    }
    .footer-detail {
        .content-doctor {
            padding-top: 10px;
            background-color: #e9e9e9;
            .container {
                .row {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.132);
                }
            }
        }
    }
}
