.doctor-schedule-container {
    .all-schedule {
        .form-select {
            width: 200px;
            border: none;
            border-bottom: 1px solid gray;
        }
    }
    .all-time-available {
    }
}
