.modal-parent {
    position: relative;
    height: 100vh;
    .user-redux-container {
        .preview-container {
            .preview-img {
                width: 100%;
                height: 100px;
                border: 1px solid GRAY;
                margin-top: 5px;
                background: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
                .preimg-container {
                    position: sticky;
                    width: 90vw;
                    height: 90vh;
                    top: 62%;
                    left: 50%;
                    transform: translate(-74%, -50%);
                    background-size: cover;
                    background-repeat: no-repeat;
                    z-index: 10000 !important;
                }
                .backgr {
                    position: absolute;
                    top: -200px;
                    left: 0;
                    width: 100vw;
                    height: 150vh;
                    background-color: rgba(128, 128, 128, 0.659);
                }
            }
        }
    }
}
