body {
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto:wght@300;400;700&display=swap");
}
.login-background {
    // background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    background-image: url(../HomePage/backggrlaptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .login-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 450px;
        background-color: #ffff;
        border-radius: 5%;
        padding: 10px;
        .login-content {
            padding: 10px;
            .text-login {
                padding-top: 10px;
                font-weight: 600;
                font-size: 4vh;
                text-align: center;
            }
            .login-input {
                margin-top: 8px;
                .hidden-exist-password {
                    position: relative;
                    i {
                        position: absolute;
                        right: 10px;
                        top: 9px;
                    }
                }
            }
            .button-login {
                .button {
                    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                }
            }
            .forgot {
                .forgot-password {
                    font-size: 15px;
                }
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
                gap: 25px;

                .google {
                    font-size: 30px;
                    background-color: rgb(236, 81, 81);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
                .facebook {
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                    color: white;
                    border-radius: 50%;
                    background-color: rgb(84, 84, 249);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
