.home-header-container {
    height: 80px;
    // border: 1px solid red;
    width: 100%;
    padding: 0 25px;
    background-color: #f1ebeb;
    position: sticky;
    top: 0;
    z-index: 10000;
    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        .left-content {
            width: 35%;
            display: flex;
            gap: -100px;
            align-items: center;
            justify-content: center;
            .bars {
                font-size: 30px;
                margin-left: 50px;
                color: gray;
                cursor: pointer;
            }
            .logo {
                width: 420px;
                height: 90px;
                background-image: url(./bookingcare-2020.svg);
                background-size: cover;
                scale: 0.7;
                cursor: pointer;
            }
        }
        .center-content {
            display: flex;
            gap: 40px;
            // border: 1px solid black;
            width: 50%;
            align-items: center;
            justify-content: center;
            .child-content {
                padding-top: 15px;
                p {
                    text-transform: capitalize;
                    font-weight: 700;
                }
                span {
                    text-transform: capitalize;
                    color: gray;
                    font-size: 10px;
                }
            }
        }
        .right-content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 25%;
            i {
                color: rgb(65, 123, 200);
                font-size: 20px;
            }
            p {
                margin-top: 0;
                margin-bottom: 0;
            }
            .vietnamese {
                cursor: pointer;
                &.action {
                    color: red;
                }
            }
            .english {
                cursor: pointer;
                &.action {
                    color: orange;
                }
            }
        }
    }
}
.home-header-banner {
    width: 100%;
    height: 550px;
    background-image: url(./backggrlaptop.jpg), linear-gradient(to bottom, #ffffff30, rgba(0, 0, 0, 0.189));
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    text-align: center;
    .content-up {
        width: 100%;
        height: 60%;
        .title-1 {
            padding-top: 50px;
            text-transform: uppercase;
            font-size: 33px;
        }
        .title-2 {
            margin-top: 5px;
            text-transform: uppercase;
            font-size: 29px;
            font-weight: 500;
        }
        .search {
            position: relative;
            width: 400px;
            height: 45px;
            display: inline-block;
            background-color: #f3f0e8;
            border-radius: 50px;
            margin-top: 50px;
            .search-bar {
                width: 375px;
                margin-left: 22px;
                border-radius: 30px;
                height: inherit;
                border: none;
                background-color: #f3f0e8;
            }
            .search-bar::placeholder {
                padding-left: 10px;
            }
            .search-bar:focus {
                outline: none;
            }
            .icon {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translate(-50%, -50%);
            }
        }
    }
    .content-down {
        display: inline-block;
        width: 100%;
        height: 40%;
        background-image: linear-gradient(to bottom, #ffffff1e 30%, #ffffffc3 70%);

        .option {
            display: flex;
            margin-top: 90px;
            align-items: center;
            justify-content: center;
            gap: 100px;
            .option-child {
                max-width: 100px;
                color: #041d24;
                font-weight: 700;
                text-shadow: 2px 2px 5px black;
                .logo {
                    margin: 0 auto;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    color: #2790ae;
                    text-shadow: none;
                    background-color: #ffff;
                    font-size: 30px;
                }
                span {
                    font-size: 15px;
                }
            }
        }
    }
}
